version: '3.8'

services:
  gitlab-ce:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab-ce
    restart: always
    hostname: '20.55.251.107'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://20.55.251.107'
    ports:
      - '80:80'
      - '443:443'
      - '2222:22'
    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/logs:/var/log/gitlab
      - ./gitlab/data:/var/opt/gitlab

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner
    restart: always
    depends_on:
      - gitlab-ce
    volumes:
      - ./gitlab-runner/config:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
    restart: unless-stopped

  trivy-server:
    image: aquasec/trivy:latest
    container_name: trivy-server
    command: server --listen 0.0.0.0:4954
    ports:
      - "4954:4954"
    volumes:
      - trivy-cache:/root/.cache/trivy
    restart: unless-stopped

  zap:
    image: zaproxy/zap-stable:latest
    container_name: zap
    restart: unless-stopped
    ports:
      - "8080:8080"
    command: >
      zap.sh -daemon
             -port 8080
             -host 0.0.0.0
             -config api.disablekey=true
             -config api.addrs.addr.name=.* 
             -config api.addrs.addr.regex=true

volumes:
  sonarqube_data:
  sonarqube_extensions:
  trivy-cache:
