stages:
  - test
  - build
  - sast
  - sca
  - dast
  - deploy

variables:
  DOCKER_IMAGE: gitlab-ci-cd-lab:latest
  DOCKER_DRIVER: overlay2

  SONAR_HOST_URL: "http://20.55.251.107:9000"
  TRIVY_SERVER_URL: "http://20.55.251.107:4954"

default:
  tags:
    - docker

# ===========================
# 1. TEST
# ===========================
test_app:
  stage: test
  image: node:18
  script:
    - cd final
    - npm install
    - npm test || echo "No hay tests definidos."
  only:
    - main

# ===========================
# 2. BUILD
# ===========================
build_image:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd final
    - docker build -t $DOCKER_IMAGE .
  only:
    - main

# ===========================
# 3. SAST — SonarQube
# ===========================
sast_sonarqube:
  stage: sast
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - rm -rf .scannerwork
    - |
      sonar-scanner \
        -Dsonar.projectKey=proyecto-final \
        -Dsonar.sources=final \
        -Dsonar.host.url=$SONAR_HOST_URL \
        -Dsonar.token=$SONAR_TOKEN
  only:
    - main

# ===========================
# 4. SCA — TRIVY
# ===========================
sca_trivy:
  stage: sca
  image: alpine:3.18
  before_script:
    - apk add --no-cache curl
    - curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
  script:
    - trivy fs --severity HIGH,CRITICAL --format json -o trivy-fs-report.json .
  artifacts:
    paths:
      - trivy-fs-report.json
  only:
    - main

# ===========================
# 5. DAST — ZAP
# ===========================
dast_zap:
  stage: dast
  image: alpine:3.18
  script:
    - apk add --no-cache curl
    - echo "Iniciando análisis ZAP contra http://20.55.251.107:3001 ..."
    - curl "http://20.55.251.107:8080/JSON/spider/action/scan/?url=http://20.55.251.107:3001"
    - curl "http://20.55.251.107:8080/OTHER/core/other/htmlreport/" -o zap_report.html
  artifacts:
    paths:
      - zap_report.html
  only:
    - main

# ===========================
# 6. DEPLOY
# ===========================
deploy_app:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker rm -f node_final || true
    - docker run -d --name node_final -p 3001:3000 $DOCKER_IMAGE
  only:
    - main
